<ion-content scrollbar-y="true" data-ng-controller="UserController">
	<div class="list">
		<label class="item item-input">
			<span class="input-label">Username</span>
			<input type="text">
		</label>
		<label class="item item-input">
			<span class="input-label">Password</span>
			<input type="password">
		</label>
		<label class="item item-input">
			<span class="input-label">Email</span>
			<input type="email">
		</label>
	</div>
	<div class="padding text-center">
		<button class="button button-block button-positive">Sign Up</button>
		<a href="/#/signin" class="button button-positive">Sign in</a>
	</div>
</ion-content>